*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
ul,ol,li{
    list-style: none;
}
:root{
    --primary-color: #F5CF06;
    --secunadry-color: #8E4106;
    --font-style:"Righteous", sans-serif;
}
body{
    background-color: var(--primary-color);
    font-family: var(--font-style);
}

.header{
    display: flex;
}

.pokebola{
    padding: 70px;
    display: flex;
    text-align: center;
    gap: 17px;
}
.pokebola span{
    font-size: 32px;
    font-weight: 400px;
    color: var(--secunadry-color);
}
main{
    display: flex;
    height: 700px;
    justify-content: space-between;
}

.elementos{
    display: flex;
    align-items: center;
    padding: 70px;
}

.text{
    height: 548px;
    width: 1440px;
    position: absolute;
    z-index: -1;
}
.textos{
    display: flex;
    flex-direction: column;
    margin-top: 400px;
    color: var(--secunadry-color);
}
.textos h6{
    font-size: 62px;
    font-weight: 400px;
}
.textos span{
    font-weight: 400px;
    font-size: 20px;
}
.imagem{
    width: 100%;
    height: 100%;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}
.elementos button{
    display: flex;
    width: 411px;
    height: 100px;
    margin-top: 400px;
    display: flex;
    padding: 10px;
    gap: 20px;
    align-items: center;
    background-color: var(--secunadry-color);
    border: none;
}
.elementos button p{
    font-size: 48px;
    font-weight: 400px;
    color: white;
}
footer{
    display: flex;
    justify-content: center;
    text-align: center;
}
footer span{
    color: var(--secunadry-color); 
}
@media (max-width: 1024px) {
    main{
        width: 100%;
    }
    .text{
        padding: 19px;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin-top: -350px;
    }
    .elementos{
        flex-direction: column;
        text-align: center;
        gap: none;
        margin: none;
        padding: none;
    }
    .textos{
        order: 2;
    }
    .imagem{
        order: 1;
    }
    button{
        order: 3;
    }
    footer{
        display: none;
    }
}
@media (max-width: 768px) {
    .imagem{
        width: 334px;
        height: 325px;
        justify-content: center;
        align-items: center;
    }

    .textos span{
        display: none;
    }

}